.checkoutForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.7rem;
    row-gap: 0.7rem;
}


.formInput label {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.formInput input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    margin: 0;
}

.errorText {
    color: red;
}

.invalid input {
    border: 1px solid red;
    background-color: rgb(255, 220, 220);
}

.cartActions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.cartActions button {
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
}

.cartActions button:hover,
.cartActions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.cartActions .button--alt {
  color: #8a2b06;
}

.cartActions .button {
  background-color: #8a2b06;
  color: white;
}

.cartActions .button:disabled {
  background-color: transparent;
  color: darkgray;
  border-color: darkgray;
  cursor: not-allowed;
}